/*header{
    top: 0;
    position: fixed;
    width: 99vw;
    height: 7vh;
    background-color: #0B60B0;
    border-radius: 20px;
    left: 0;
    z-index: 1000;

}

header>nav{
    font-size: 20px;
    position: absolute;
    top: 13px;
    left: 1000px;


}

header > nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;

}*/

#whoAmI{
    position: relative;
    width: 187px;
    height: 60px;
    border: 5px solid dodgerblue;
    left: 814px;
    top: -789px;
}

#whoAmI>h4{
    position: absolute;
    color: white;
    font-size: 30px;
    text-align: center;
    top: -24px;
    left: 17px;
    font-family: "Lucida Console", "Courier New", monospace;
}
.aboutMe>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -537px;
}

.aboutMe>p{
    color: white;
    position: relative;
    top: -713px;
    left: 653px;
    font-size: 27px;
    font-family: Papyrus,fantasy;
}


#aboutPhoto > img {
    width: 288px;
    height: 288px;
    object-fit: cover;
    border-radius: 10px;
    border: 13px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: rotate(-2deg) translateX(-108px);
    top: -454px;
    position: relative;
    left: 212px;
}




.aboutMe>div>button{
    position: relative;
    background-color: #40A2D8;
    top: -646px;
    left: 852px;
    color: black;
    font-size: 20px;
    border: 2px solid black;

    width: 218px;
    height: 50px;
}

#downloadImage>img{
    left: 847px;
    top: -635px;
    position: relative;
    width: 34px;
    height: 33px;
    margin-right: 10px;
}
/*

@media all and (max-width: 768px) {
   !* header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        !*left: 270px;*!
        left: 16% !important;
        transform: translateX(33%) !important;


    }
*!
    #aboutPhoto>img{
        position: relative;
        top: 35px;
        left: 40px;
        width: 279px !important;
        height: 286px !important;



    }

    .aboutMe>p{
        color: white;
        position: relative;
        top: -263px !important;
        left: 367px !important;
        font-size: 11px;
    }

    #downloadImage>img{
        left: 661px !important;
        !* left: 50%;
         transform: translateX(-420%);*!
        top: -138px;
        position: relative;
        width: 34px;
        height: 33px;
        margin-right: 10px;
    }

    .aboutMe>div>button{

        position: relative;
        background-color: #40A2D8;
        top: -144px;
        left: 645px !important;
        !*left: 50%;
        transform: translateX(-80%);*!
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 150px;
        height: 50px;

    }
}
*/

/*
@media all and (max-width: 1024px) {


   !* header {
        top: 0;
        position: fixed;
        width: 100vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }

    header>nav{

        font-size: 20px;
        position: absolute;
        top: 13px;
        !*left: 518px;*!
        left: 50%;
        transform: translateX(1%);

    }
*!
    .aboutMe>p{
        color: white;
        position: relative;
        top: -299px;
        left: 490px;
        font-size: 18px !important;
    }

    #downloadImage>img{
        !*left: 661px;*!
        left: 50%;
        transform: translateX(-420%);
        top: -138px;
        position: relative;
        width: 34px;
        height: 33px;
        margin-right: 10px;
    }

    .aboutMe>div>button{

        position: relative;
        background-color: #40A2D8;
        top: -144px;
        !*left: 733px;*!
        left: 50%;
        transform: translateX(-80%);
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 150px;
        height: 50px;

    }

}*/
@media all and (min-width: 376px ) and (max-width: 425px){

    .aboutMe>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 30px;
        position: relative;
        top: 35px;
    }

    #aboutPhoto > img {
        position: relative;
        width: 194px ;
        height: 194px ;
        object-fit: cover;
        border-radius: 10px;
        border: 13px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: rotate(-2deg) translateX(-108px);
        top: 9px;
        left: 190px;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){
    #whoAmI{
        position: relative;
        width: 169px;
        height: 50px;
        border: 5px solid dodgerblue;
        left: 452px;
        top: -716px;
    }

    #whoAmI>h4{
        position: absolute;
        color: white;
        font-size: 30px;
        text-align: center;
        top: -30px;
        left: 14px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .aboutMe>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -537px;
    }

    .aboutMe>p{
        color: white;
        position: relative;
        top: -660px ;
        left: 337px ;
        font-size: 15px;
        font-family: Papyrus,fantasy;
    }


    #aboutPhoto > img {
        position: relative;
        width: 194px ;
        height: 194px ;
        object-fit: cover;
        border-radius: 10px;
        border: 13px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: rotate(-2deg) translateX(-108px);
        top: -402px;
        left: 190px;
    }




    .aboutMe>div>button{
        position: relative;
        background-color: #40A2D8;
        top: -585px;
        left: 435px ;
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 164px;
        height: 43px;
    }

    #downloadImage>img{
        position: relative;
        left: 437px;
        top: -585px;

        width: 28px;
        height: 27px;
        margin-right: 10px;
    }

}
@media all and (min-width: 835px ) and (max-width: 1024px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 532px;
        transform: translateX(-6%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    #whoAmI{
        position: relative;
        width: 187px;
        height: 60px;
        border: 5px solid dodgerblue;
        left: 576px;
        top: -757px;
    }

    #whoAmI>h4{
        position: absolute;
        color: white;
        font-size: 30px;
        text-align: center;
        top: -24px;
        left: 17px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .aboutMe>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -537px;
    }

    .aboutMe>p{
        color: white;
        position: relative;
        top: -713px;
        left: 439px;
        font-size: 21px;
        font-family: Papyrus,fantasy;
    }


    #aboutPhoto > img {
        width: 236px;
        height: 236px;
        object-fit: cover;
        border-radius: 10px;
        border: 13px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: rotate(-2deg) translateX(-108px);
        top: -454px;
        position: relative;
        left: 212px;
    }




    .aboutMe>div>button{
        position: relative;
        background-color: #40A2D8;
        top: -646px;
        left: 626px;
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 218px;
        height: 50px;
    }

    #downloadImage>img{
        left: 624px;
        top: -635px;
        position: relative;
        width: 34px;
        height: 33px;
        margin-right: 10px;
    }

}
@media all and (min-width: 1025px ) and (max-width: 1440px){

    #whoAmI{
        position: relative;
        width: 187px;
        height: 60px;
        border: 5px solid dodgerblue;
        left: 576px;
        top: -757px;
    }

    #whoAmI>h4{
        position: absolute;
        color: white;
        font-size: 30px;
        text-align: center;
        top: -24px;
        left: 17px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .aboutMe>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -537px;
    }

    .aboutMe>p{
        color: white;
        position: relative;
        top: -713px;
        left: 439px;
        font-size: 21px;
        font-family: Papyrus,fantasy;
    }


    #aboutPhoto > img {
        width: 236px;
        height: 236px;
        object-fit: cover;
        border-radius: 10px;
        border: 13px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: rotate(-2deg) translateX(-108px);
        top: -454px;
        position: relative;
        left: 212px;
    }




    .aboutMe>div>button{
        position: relative;
        background-color: #40A2D8;
        top: -646px;
        left: 626px;
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 218px;
        height: 50px;
    }

    #downloadImage>img{
        left: 624px;
        top: -635px;
        position: relative;
        width: 34px;
        height: 33px;
        margin-right: 10px;
    }

    /*body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 548px;


    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }*/
}
/*@media all and (min-width: 1440px) {

   !* header {
        top: 0;
        position: fixed;
        width: 100vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }


    header>nav{

        font-size: 20px;
        position: absolute;
        top: 13px;
        !*left: 949px;*!
        left: 63%;
        transform: translateX(1%);

    }*!
    .aboutMe>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -8px;
    }

    .aboutMe>p{
        color: white;
        position: relative;
        top: -360px;
        left: 490px;
        font-size: 23px;
    }

    #aboutPhoto>img{
        position: relative;
        top: 35px;
        left: 40px;
        width: 426px;
        height: 383px;
    }

    .aboutMe>div>button{

        position: relative;
        background-color: #40A2D8;
        top: -144px;
        left: 852px;
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 150px;
        height: 50px;

    }

    #downloadImage>img{
        left: 847px;
        top: -138px;
        position: relative;
        width: 34px;
        height: 33px;
        margin-right: 10px;
    }
}*/
@media all and  (min-width:1440px){

    #whoAmI{
        position: relative;
        width: 187px;
        height: 60px;
        border: 5px solid dodgerblue;
        left: 814px;
        top: -789px;
    }

    #whoAmI>h4{
        position: absolute;
        color: white;
        font-size: 30px;
        text-align: center;
        top: -24px;
        left: 17px;
        font-family: "Lucida Console", "Courier New", monospace;
    }
    .aboutMe>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -537px;
    }

    .aboutMe>p{
        color: white;
        position: relative;
        top: -713px;
        left: 653px;
        font-size: 27px;
        font-family: Papyrus,fantasy;
    }


    #aboutPhoto > img {
        width: 288px;
        height: 288px;
        object-fit: cover;
        border-radius: 10px;
        border: 13px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transform: rotate(-2deg) translateX(-108px);
        top: -454px;
        position: relative;
        left: 212px;
    }




    .aboutMe>div>button{
        position: relative;
        background-color: #40A2D8;
        top: -646px;
        left: 852px;
        color: black;
        font-size: 20px;
        border: 2px solid black;

        width: 218px;
        height: 50px;
    }

    #downloadImage>img{
        left: 847px;
        top: -635px;
        position: relative;
        width: 34px;
        height: 33px;
        margin-right: 10px;
    }

}
