.education>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -456px;
}

.rec{
    position: relative;
    top: -399px;
    left: 50px;
    background-color: #40A2D8;
    width: 93vw;
    height: 52vh;
}

.rec>img{
    position: relative;
    top: 57px;
    left: 50px;
    width: 174px;
    height: 168px

}

.desc{
    position: absolute;
    top: 11px;
    left: 483px;
    font-size: 20px;
    line-height: 106px;
}

#kcc>img{
    position: relative;
    top: -275px;
    left: 102px;
    width: 174px;
    height: 168px;
}

#kcc>p{
    color: white;
    position: relative;
    top: -496px;
    left: 535px;
    font-size: 21px;
}

#kcc>h2{

    color: white;
    position: relative;
    top: -503px;
    left: 535px;
    font-size: 21px;
}

#kcc>h4{
    font-family: "Papyrus", Papyrus, fantasy, serif;
    font-size: 24px;
    color: deepskyblue;
    position: relative;
    top: -499px;
    left: 600px;
}

/*
@media all and (max-width: 768px) {

    .rec{
        position: relative;
        top: 30px;
        left: 27px !important;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 131px !important;
        left: 50px;
        width: 174px;
        height: 168px

    }

    .desc{
        position: absolute;
        top: 101px !important;
        left: 256px !important;
        font-size: 20px;
        line-height: 64px!important;
    }

    #kcc>img{
        position: relative;
        top: 108px;
        left: 35px !important;
        width: 174px;
        height: 168px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -95px;
        !*left: 200px !important;*!
        left: 50%; !* Start from the middle of the container *!
        transform: translateX(-18%);
        font-size: 21px;
    }

    #kcc>h2{
        color: white;
        position: relative;
        top: -100px;
        left: 50%; !* Start from the middle of the container *!
        transform: translateX(-18%);
        font-size: 21px;
    }


    #kcc>h4{
        color: white;
        position: relative;
        top: -93px;
        left: 50%; !* Start from the middle of the container *!
        transform: translateX(-18%);
    }
}

@media all and (max-width: 1024px) {
    .rec{
        position: relative;
        top: 30px;
        left: 50px;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .desc{
        position: absolute;
        top: 30px !important;
        left: 483px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -95px;
        left: 359px !important;
        font-size: 21px;
    }

    #kcc>h2{
        color: white;
        position: relative;
        top: -100px;
        left: 364px !important;
        font-size: 21px;
    }

    #kcc>h4{
        color: white;
        position: relative;
        top: -93px;
        left: 429px !important;
    }
}
*/
@media all and (min-width: 377px ) and (max-width: 425px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 106px;
    }

    .rec{
        position: relative;
        top: 100px;
        left: 29px;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 253px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: 209px;
        left: 57px;
        width: 174px;
        height: 168px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -22px;
        left: 245px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -32px;
        left: 246px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: 3px;
        left: 281px;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: 29px;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 253px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 57px;
        width: 174px;
        height: 168px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -496px;
        left: 245px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 246px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 281px;
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: 50px;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 284px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 102px;
        width: 174px;
        height: 168px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -496px;
        left: 340px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 339px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 357px;
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px) {

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: 50px;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 284px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 102px;
        width: 174px;
        height: 168px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -496px;
        left: 340px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 339px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 357px;
    }
}

@media all and (min-width: 1440px) {
    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: 50px;
        background-color: #40A2D8;
        width: 93vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 483px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 102px;
        width: 174px;
        height: 168px;
    }

    #kcc>p{
        color: white;
        position: relative;
        top: -496px;
        left: 535px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 535px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 600px;
    }
}
