.education>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -456px;
}

.rec{
    position: relative;
    top: -399px;
    left: -8px;
    background-color: #40A2D8;
    width: 100vw;
    height: 52vh;
}

.rec>img{
    position: relative;
    top: 57px;
    left: 50px;
    width: 174px;
    height: 168px;
    border-radius: 100%;

}

.desc{
    position: absolute;
    top: 11px;
    left: 483px;
    font-size: 20px;
    line-height: 106px;
}

#kcc>img{
    position: relative;
    top: -275px;
    left: 102px;
    width: 174px;
    height: 168px;
}

#kcc>#aboutKcc{
    color: white;
    position: relative;
    top: -496px;
    left: 535px;
    font-size: 21px;
}

#kcc>#result1{
    color: white;
    position: relative;
    top: -496px;
    left: 340px;
    font-size: 21px;
}

#kcc>#result2{
    color: white;
    position: relative;
    top: -496px;
    left: 340px;
    font-size: 21px;
}

#kcc>h2{

    color: white;
    position: relative;
    top: -503px;
    left: 535px;
    font-size: 21px;
}

#kcc>h4{
    font-family: "Papyrus", Papyrus, fantasy, serif;
    font-size: 24px;
    color: deepskyblue;
    position: relative;
    top: -499px;
    left: 600px;
}

@media all and (max-width: 320px ){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 30px;
        position: relative;
        top: 106px;
    }

    .rec{
        position: relative;
        top: 150px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 14px;
        left: 56px;
        width: 174px;
        height: 168px;
        border-radius: 100%;

    }

    .desc{
        position: absolute;
        top: 184px;
        left: 2px;
        font-size: 17px;
        line-height: 50px;
    }

    #kcc>img{
        position: relative;
        top: 173px;
        left: 78px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: 201px;
        left: 23px;
        font-size: 17px;
    }

    #kcc>#result1{
        color: white;
        position: relative;
        top: 191px;
        left: 11px;
        font-size: 21px;
    }

    #kcc>#result2{
        color: white;
        position: relative;
        top: 149px;
        left: 14px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: 193px;
        left: 19px;
        font-size: 19px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: 181px;
        left: 85px;
    }
}
@media all and (min-width: 321px ) and (max-width: 376px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 30px;
        position: relative;
        top: 106px;
    }

    .rec{
        position: relative;
        top: 150px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 14px;
        left: 88px;
        width: 174px;
        height: 168px;
        border-radius: 100%;

    }

    .desc{
        position: absolute;
        top: 184px;
        left: 19px;
        font-size: 16px;
        line-height: 50px;
    }

    #kcc>img{
        position: relative;
        top: 173px;
        left: 109px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: 200px;
        left: 14px;
        font-size: 16px;
    }

    #kcc>#result1{
        color: white;
        position: relative;
        top: 197px;
        left: 44px;
        font-size: 16px;
    }

    #kcc>#result2{
        color: white;
        position: relative;
        top: 156px;
        left: 44px;
        font-size: 16px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: 193px;
        left: 19px;
        font-size: 17px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: 176px;
        left: 85px;
    }
}
@media all and (min-width: 377px ) and (max-width: 425px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 30px;
        position: relative;
        top: 106px;
    }

    .rec{
        position: relative;
        top: 150px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 14px;
        left: 108px;
        width: 174px;
        height: 168px;
        border-radius: 100%;

    }

    .desc{
        position: absolute;
        top: 184px;
        left: 2px;
        font-size: 17px;
        line-height: 50px;
    }

    #kcc>img{
        position: relative;
        top: 173px;
        left: 127px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: 182px;
        left: 40px;
        font-size: 21px;
    }

    #kcc>#result1{
        color: white;
        position: relative;
        top: 153px;
        left: 24px;
        font-size: 21px;
    }

    #kcc>#result2{
        color: white;
        position: relative;
        top: 138px;
        left: 24px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: 166px;
        left: 42px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: 166px;
        left: 85px;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px;
        border-radius: 100%;

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 243px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 39px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: -496px;
        left: 226px;
        font-size: 21px;
    }
    #kcc>#result1{
        color: white;
        position: relative;
        top: -496px;
        left: 264px;
        font-size: 21px;
    }
    #kcc>#result2{
        color: white;
        position: relative;
        top: -496px;
        left: 264px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 226px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 281px;
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px;
        border-radius: 100%;

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 284px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 102px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: -496px;
        left: 340px;
        font-size: 21px;
    }

    #kcc>#result1{
        color: white;
        position: relative;
        top: -496px;
        left: 349px;
        font-size: 21px;
    }
    #kcc>#result2{
        color: white;
        position: relative;
        top: -496px;
        left: 349px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 339px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 357px;
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px) {

    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px;
        border-radius: 100%;

    }

    .desc{
        position: absolute;
        top: 11px;
        left: 284px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 102px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: -496px;
        left: 340px;
        font-size: 21px;
    }

    #kcc>#result1{
        color: white;
        position: relative;
        top: -496px;
        left: 349px;
        font-size: 21px;
    }

    #kcc>#result2{
        color: white;
        position: relative;
        top: -496px;
        left: 349px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 339px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 357px;
    }
}

@media all and (min-width: 1440px) {
    .education>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -456px;
    }

    .rec{
        position: relative;
        top: -399px;
        left: -8px;
        background-color: #40A2D8;
        width: 100vw;
        height: 52vh;
    }

    .rec>img{
        position: relative;
        top: 57px;
        left: 50px;
        width: 174px;
        height: 168px;
        border-radius: 100%;


    }

    .desc{
        position: absolute;
        top: 11px;
        left: 483px;
        font-size: 20px;
        line-height: 106px;
    }

    #kcc>img{
        position: relative;
        top: -275px;
        left: 102px;
        width: 174px;
        height: 168px;
    }

    #kcc>#aboutKcc{
        color: white;
        position: relative;
        top: -496px;
        left: 535px;
        font-size: 21px;
    }


    #kcc>#result1{
        color: white;
        position: relative;
        top: -496px;
        left: 535px;
        font-size: 21px;
    }


    #kcc>#result2{
        color: white;
        position: relative;
        top: -496px;
        left: 535px;
        font-size: 21px;
    }

    #kcc>h2{

        color: white;
        position: relative;
        top: -503px;
        left: 535px;
        font-size: 21px;
    }

    #kcc>h4{
        font-family: "Papyrus", Papyrus, fantasy, serif;
        font-size: 24px;
        color: deepskyblue;
        position: relative;
        top: -499px;
        left: 600px;
    }
}
