footer {
    position: relative;
}
/*#f{
    width: 100vw;
    height: 388px;
    position: relative;
    top: -452px;
    background-color: #007bff;

}

#le{
    position: absolute;
    top:77px;
    left: 590px;
    font-size: 71px;
    !*font-family: Cursive;*!
}

#thank{
    color: white;
    font-size: 31px;
    position: absolute;
    top: 210px;
    left: 643px;
}

footer>div>label{
    display: flex;
    margin: 10px 10px;
    position: relative;
    top: 181px;
    left: 579px;
    font-size: 20px;

}

#socialImg>img{
    position: relative;
    border-radius: 100%;
    width: 36px;
    aspect-ratio: 1/1;
    top: -584px;
    left: 594px;
}

#f{

    white-space: nowrap;

}*/

#f{
    width: 100vw;
    height: 388px;
    position: relative;
    top: -387px;
    background-color: #007bff;

}

#le{
    position: absolute;
    top:77px;
    left: 590px;
    font-size: 71px;

}

#thank{
    color: white;
    font-size: 31px;
    position: absolute;
    top: 210px;
    left: 643px;
}

footer>div>label{
    display: flex;
    margin: 10px 10px;
    position: relative;
    top: 181px;
    left: 579px;
    font-size: 20px;
}

#socialImg>a>img{
    position: relative;
    border-radius: 100%;
    width: 36px;
    aspect-ratio: 1/1;
    top: 222px;
    left: 594px;
}

#f{

    white-space: nowrap;

}

footer {
    position: relative;
    background-color: white;
    top: 0;
    width: 100vw;
}


p{
    font-size: 37px;
    position: absolute;
    top: 134px;
    left: 280px;
/*    font-family:Monospace;*/
}


@media all and (max-width: 320px ){

    #f {
        width: 100vw;
        height: 260px;
        position: relative;
        top: -21px;
        background-color: #007bff;
    }

    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:42px;
        left: 41px;
        font-size: 45px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 321px;
    }

    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 132px;
        left: 30px;
        font-size: 16px;
    }

    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: 145px;
        left: 91px;
    }

    #footer{

        white-space: nowrap;

    }

    footer {
        position: relative;
        background-color: white;
        top: 0;
        width: 100vw;
        height: 388px;
    }

    p{
        font-size: 12px;
        position: absolute;
        top: 268px;
        left: 25px;
       /* font-family:Monospace;*/
    }
}
@media all and (min-width: 321px ) and (max-width: 376px){

    #f {
        width: 100vw;
        height: 260px;
        position: relative;
        top: -21px;
        background-color: #007bff;
    }

    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:60px;
        left: 64px;
        font-size: 50px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 321px;
    }

    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 136px;
        left: 53px;
        font-size: 17px;

    }

    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: 141px;
        left: 127px;
    }

    #footer{

        white-space: nowrap;

    }

    #bye{
        position: relative;
        top: -314px;
        left: 114px;
        border-radius: 100%;
        width: 146px;
        aspect-ratio: 1/1;
    }

    footer {
        position: relative;
        background-color: white;
        top: 0;
        width: 100vw;
        height: 388px;
    }

    p{
        font-size: 12px;
        position: absolute;
        top: 268px;
        left: 25px;
       /* font-family:Monospace;*/
    }
}
@media all and (min-width: 377px ) and (max-width: 425px){

    body{
        overflow-x: hidden;
    }
    #f {
        width: 100vw;
        height: 260px;
        position: relative;
        top: -21px;
        background-color: #007bff;
    }

    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:44px;
        left: 64px;
        font-size: 55px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 321px;
    }


    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 135px;
        left: 64px;

    }
    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: 140px;
        left: 115px;
    }

    #footer{

        white-space: nowrap;

    }

    #bye{
        position: relative;
        top: -314px;
        left: 114px;
        border-radius: 100%;
        width: 146px;
        aspect-ratio: 1/1;
    }

    footer {
        position: relative;
        background-color: white;
        top: 0;
        width: 100vw;
        height: 388px;
    }

    p{
        font-size: 15px;
        position: absolute;
        top: 265px;
        left: 55px;
    /*    font-family:Monospace;*/
    }



}

@media all and (min-width: 426px ) and (max-width: 526px){


    body{
        overflow-x: hidden;
    }
    #f {
        width: 100vw;
        height: 260px;
        position: relative;
        top: -21px;
        background-color: #007bff;
    }

    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:44px;
        left: 64px;
        font-size: 55px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 321px;
    }


    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 135px;
        left: 64px;

    }
    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: 140px;
        left: 115px;
    }

    #footer{

        white-space: nowrap;

    }

    #bye{
        position: relative;
        top: -314px;
        left: 114px;
        border-radius: 100%;
        width: 146px;
        aspect-ratio: 1/1;
    }

    footer {
        position: relative;
        background-color: white;
        top: 0;
        width: 100vw;
        height: 388px;
    }

    p{
        font-size: 15px;
        position: absolute;
        top: 265px;
        left: 55px;
        /*    font-family:Monospace;*/
    }
}

@media all and (min-width: 527px ) and (max-width: 627px){


    body{
        overflow-x: hidden;
    }
    #f {
        width: 100vw;
        height: 260px;
        position: relative;
        top: -21px;
        background-color: #007bff;
    }

    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:44px;
        left: 111px;
        font-size: 55px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 321px;
    }


    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 135px;
        left: 109px;

    }
    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 27px;
        aspect-ratio: 1/1;
        top: 140px;
        left: 190px;
    }

    #footer{

        white-space: nowrap;

    }

    #bye{
        position: relative;
        top: -314px;
        left: 114px;
        border-radius: 100%;
        width: 146px;
        aspect-ratio: 1/1;
    }

    footer {
        position: relative;
        background-color: white;
        top: 0;
        width: 100vw;
        height: 388px;
    }

    p{
        font-size: 17px;
        position: absolute;
        top: 265px;
        left: 55px;
        /*    font-family:Monospace;*/
    }
}
/*@media all and (min-width: 461px ) and (max-width: 768px){
    #f{
        width: 100vw;
        height: 388px;
        position: relative;
        top: -357px;
        background-color: #007bff;

    }
    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:77px;
        left: 190px;
        font-size: 71px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 321px;
    }

    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 207px;
        left: 189px;

    }

    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 33px;
        aspect-ratio: 1/1;
        top: 225px;
        left: 200px;
    }

    #footer{

        white-space: nowrap;

    }

    p{
        font-size: 27px;
        position: absolute;
        top: 80px;
        left: 101px;
     !*   font-family:Monospace;*!
    }


}*/
@media all and (min-width: 835px ) and (max-width: 1024px){
    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:77px;
        left: 354px;
        font-size: 67px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 450px;
    }

    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 205px;
        left: 360px;

    }

    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: 234px;
        left: 369px;
    }

    #footer{

        white-space: nowrap;

    }

    p{
        font-size: 37px;
        position: absolute;
        top: 80px;
        left: 132px;
      /*  font-family:Monospace;*/
    }

}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    footer>#footer{
        width: 100vw;
        height: 388px;
        position: relative;
        top: 97px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:77px;
        left: 354px;
        font-size: 71px;
        font-family: Cursive;
    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 450px;
    }

    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 222px;
        left: 352px;

    }

    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: 251px;
        left: 357px;
    }

    #footer{

        white-space: nowrap;

    }

    #bye{
        position: relative;
        top: -290px;
        left: 21px;
        border-radius: 100%;
        width: 269px;
        aspect-ratio: 1/1;
    }

    p{
        font-size: 37px;
        position: absolute;
        top: 80px;
        left: 132px;
       /* font-family:Monospace;*/
    }

}
@media all and  (min-width:1440px){


    #f{
        width: 100vw;
        height: 388px;
        position: relative;
        top: -387px;
        background-color: #007bff;

    }

    #le{
        position: absolute;
        top:77px;
        left: 590px;
        font-size: 71px;

    }

    #thank{
        color: white;
        font-size: 31px;
        position: absolute;
        top: 210px;
        left: 643px;
    }

    footer>div>label{
        display: flex;
        margin: 10px 10px;
        position: relative;
        top: 181px;
        left: 579px;
        font-size: 20px;
    }

    #socialImg>a>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: 222px;
        left: 594px;
    }

    #f{

        white-space: nowrap;

    }

    footer {
        position: relative;
        background-color: white;
        top: 0;
        width: 100vw;
    }


    p{
        font-size: 37px;
        position: absolute;
        top: 134px;
        left: 280px;
       /* font-family:Monospace;*/
    }

}