.gallery>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 87px;
}

#p1>img{
    position: relative;
    width: 206px;
    height: 279px;
    left: 417px;
    top: 423px;
}

#p2>img{
    position: relative;
    width: 181px;
    height: 279px;
    left: 623px;
    top: 141px;

}

#p3>img{
    position: relative;
    width: 207px;
    height: 279px;
    left: 804px;
    top: -142px;

}

#p4>img{
    position: relative;
    width: 401px;
    height: 278px;
    left: 1011px;
    top: -424px;

}

#p5>img{
    position: relative;
    width: 184px;
    height: 279px;
    left: 233px;
    top: -707px;

}
#images{
    position: relative;
    top: -231px;
    left: -53px;
}
@media all and (max-width: 768px) {
    #p1>img{

        position: relative;
        width: 206px;
        height: 279px;
        transform: translateX(-43%);
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        transform: translateX(-49%);
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        transform: translateX(-52%);
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 355px;
        height: 244px;
        transform: translateX(-25%);
        top: -146px;

    }

    #p5>img{
        position: relative;
        width: 239px;
        height: 244px;
        transform: translateX(-45%);
        top: -394px;

    }
}
@media all and (max-width: 1024px) {
    #p1>img{
        position: relative;
        width: 206px;
        height: 279px;
        left: 203px !important;
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        left: 409px !important;
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        left: 590px !important;
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 355px;
        height: 244px;
        left: 204px !important;
        top: -146px;

    }

    #p5>img{
        position: relative;
        width: 239px;
        height: 244px;
        left: 558px !important;
        top: -394px;

    }
}


@media all and (max-width: 1440px) {

    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 350px;
    }

    #p1>img{
        position: relative;
        width: 206px;
        height: 279px;
        left: 417px;
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        left: 623px;
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        left: 804px;
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 355px;
        height: 244px;
        left: 417px;
        top: -146px;

    }

    #p5>img{
        position: relative;
        width: 239px;
        height: 244px;
        left: 772px;
        top: -394px;

    }
}