.gallery>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 87px;
}

#p1>img{
    position: relative;
    width: 206px;
    height: 279px;
    left: 417px;
    top: 423px;
}

#p2>img{
    position: relative;
    width: 181px;
    height: 279px;
    left: 623px;
    top: 141px;

}

#p3>img{
    position: relative;
    width: 207px;
    height: 279px;
    left: 804px;
    top: -142px;

}

#p4>img{
    position: relative;
    width: 401px;
    height: 278px;
    left: 1011px;
    top: -424px;

}

#p5>img{
    position: relative;
    width: 184px;
    height: 279px;
    left: 233px;
    top: -707px;

}
#images{
    position: relative;
    top: -231px;
    left: -53px;
}

@media all and (max-width: 320px ){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 234px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;

    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 204px;
        top: 249px;

    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 322px;
        top: 87px;

    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;

    }
    #images{
        position: relative;
        top: -127px;
        left: -181px;

    }

}
@media all and (min-width: 321px ) and (max-width: 376px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 234px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;

    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 204px;
        top: 249px;

    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 322px;
        top: 87px;

    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;

    }
    #images{
        position: relative;
        top: -127px;
        left: -181px;

    }

}
@media all and (min-width: 377px ) and (max-width: 425px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 230px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;

    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 204px;
        top: 250px;

    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 322px;
        top: 88px;

    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;

    }
    #images{
        position: relative;
        top: -154px;
        left: -151px;

    }
}


@media all and (min-width: 461px ) and (max-width: 768px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;

    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 529px;
        top: 92px;

    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 647px;
        top: -71px;

    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;

    }
    #images{
        position: relative;
        top: -278px;
        left: -128px;

    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 132px;
        height: 194px;
        left: 368px;
        top: 445px;
    }

    #p2>img{
        position: relative;
        width: 122px;
        height: 196px;
        left: 500px;
        top: 248px;

    }

    #p3>img{
        position: relative;
        width: 135px;
        height: 196px;
        left: 621px;
        top: 49px;

    }

    #p4>img{
        position: relative;
        width: 255px;
        height: 197px;
        left: 755px;
        top: -151px;

    }

    #p5>img{
        position: relative;
        width: 115px;
        height: 193px;
        left: 253px;
        top: -353px;

    }
    #images{
        position: relative;
        top: -278px;
        left: -128px;

    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 132px;
        height: 194px;
        left: 368px;
        top: 445px;
    }

    #p2>img{
        position: relative;
        width: 122px;
        height: 196px;
        left: 500px;
        top: 248px;

    }

    #p3>img{
        position: relative;
        width: 135px;
        height: 196px;
        left: 621px;
        top: 49px;

    }

    #p4>img{
        position: relative;
        width: 255px;
        height: 197px;
        left: 755px;
        top: -151px;

    }

    #p5>img{
        position: relative;
        width: 115px;
        height: 193px;
        left: 253px;
        top: -353px;

    }
    #images{
        position: relative;
        top: -278px;
        left: -128px;

    }
}
@media all and  (min-width:1440px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 206px;
        height: 279px;
        left: 417px;
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        left: 623px;
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        left: 804px;
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 401px;
        height: 278px;
        left: 1011px;
        top: -424px;

    }

    #p5>img{
        position: relative;
        width: 184px;
        height: 279px;
        left: 233px;
        top: -707px;

    }
    #images{
        position: relative;
        top: -231px;
        left: -99px;
    }
}
/*
@media all and (max-width: 768px) {
    #p1>img{

        position: relative;
        width: 206px;
        height: 279px;
        transform: translateX(-43%);
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        transform: translateX(-49%);
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        transform: translateX(-52%);
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 355px;
        height: 244px;
        transform: translateX(-25%);
        top: -146px;

    }

    #p5>img{
        position: relative;
        width: 239px;
        height: 244px;
        transform: translateX(-45%);
        top: -394px;

    }
}
@media all and (max-width: 1024px) {
    #p1>img{
        position: relative;
        width: 206px;
        height: 279px;
        left: 203px !important;
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        left: 409px !important;
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        left: 590px !important;
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 355px;
        height: 244px;
        left: 204px !important;
        top: -146px;

    }

    #p5>img{
        position: relative;
        width: 239px;
        height: 244px;
        left: 558px !important;
        top: -394px;

    }
}


@media all and (max-width: 1440px) {

    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 350px;
    }

    #p1>img{
        position: relative;
        width: 206px;
        height: 279px;
        left: 417px;
        top: 423px;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        left: 623px;
        top: 141px;

    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        left: 804px;
        top: -142px;

    }

    #p4>img{
        position: relative;
        width: 355px;
        height: 244px;
        left: 417px;
        top: -146px;

    }

    #p5>img{
        position: relative;
        width: 239px;
        height: 244px;
        left: 772px;
        top: -394px;

    }
}*/
