.gallery>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 87px;
}

#p1>img{
    position: relative;
    width: 206px;
    height: 279px;
    left: 417px;
    top: 423px;
    animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
}

#p2>img{
    position: relative;
    width: 181px;
    height: 279px;
    left: 623px;
    top: 141px;
    animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
}

#p3>img{
    position: relative;
    width: 207px;
    height: 279px;
    left: 804px;
    top: -142px;
    animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
}

#p4>img{
    position: relative;
    width: 401px;
    height: 278px;
    left: 1011px;
    top: -424px;
    animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
}

#p5>img{
    position: relative;
    width: 184px;
    height: 279px;
    left: 233px;
    top: -707px;
    animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
}
#images{
    position: relative;
    top: -231px;
    left: -53px;
}

#p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
    position: relative;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
    transform: scale(1.1) rotate(5deg);
    opacity: 0.8;
}

@media all and (max-width: 320px ){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 234px;
    }

    #p1>img{
        position: relative;
        width: 108px;
        height: 146px;
        left: 297px;
        top: 405px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 98px;
        height: 148px;
        left: 405px;
        top: 255px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 109px;
        height: 143px;
        left: 204px;
        top: 249px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 182px;
        height: 144px;
        left: 313px;
        top: 101px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 93px;
        height: 145px;
        left: 204px;
        top: -190px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
    }
    #images{
        position: relative;
        top: -127px;
        left: -193px;

    }

    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }

}
@media all and (min-width: 321px ) and (max-width: 376px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 234px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 204px;
        top: 249px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 322px;
        top: 87px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
    }
    #images{
        position: relative;
        top: -127px;
        left: -181px;

    }
    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }


}
@media all and (min-width: 377px ) and (max-width: 425px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 230px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 204px;
        top: 250px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 322px;
        top: 88px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
    }
    #images{
        position: relative;
        top: -154px;
        left: -151px;

    }

    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }
}


@media all and (min-width: 461px ) and (max-width: 768px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -33px;
    }

    #p1>img{
        position: relative;
        width: 120px;
        height: 159px;
        left: 306px;
        top: 417px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 103px;
        height: 159px;
        left: 426px;
        top: 254px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 118px;
        height: 159px;
        left: 529px;
        top: 92px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 221px;
        height: 159px;
        left: 647px;
        top: -71px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 102px;
        height: 159px;
        left: 204px;
        top: -234px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
    }
    #images{
        position: relative;
        top: -379px;
        left: -152px;

    }

    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 132px;
        height: 194px;
        left: 368px;
        top: 445px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 122px;
        height: 196px;
        left: 500px;
        top: 248px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 135px;
        height: 196px;
        left: 621px;
        top: 49px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 255px;
        height: 197px;
        left: 755px;
        top: -151px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 115px;
        height: 193px;
        left: 253px;
        top: -353px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
    }
    #images{
        position: relative;
        top: -278px;
        left: -128px;

    }

    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 132px;
        height: 194px;
        left: 368px;
        top: 445px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 122px;
        height: 196px;
        left: 500px;
        top: 248px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 135px;
        height: 196px;
        left: 621px;
        top: 49px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 255px;
        height: 197px;
        left: 755px;
        top: -151px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 115px;
        height: 193px;
        left: 253px;
        top: -353px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;
    }
    #images{
        position: relative;
        top: -278px;
        left: -128px;

    }

    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }
}
@media all and  (min-width:1440px){
    .gallery>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 87px;
    }

    #p1>img{
        position: relative;
        width: 206px;
        height: 279px;
        left: 417px;
        top: 423px;
        animation: fadeIn 1s ease-in, float 4s ease-in-out infinite;
    }

    #p2>img{
        position: relative;
        width: 181px;
        height: 279px;
        left: 623px;
        top: 141px;
        animation: fadeIn 1.5s ease-in, float 4s ease-in-out infinite;
    }

    #p3>img{
        position: relative;
        width: 207px;
        height: 279px;
        left: 804px;
        top: -142px;
        animation: fadeIn 2s ease-in, float 4s ease-in-out infinite;
    }

    #p4>img{
        position: relative;
        width: 401px;
        height: 278px;
        left: 1011px;
        top: -424px;
        animation: fadeIn 2.5s ease-in, float 4s ease-in-out infinite;
    }

    #p5>img{
        position: relative;
        width: 184px;
        height: 279px;
        left: 233px;
        top: -707px;
        animation: fadeIn 3s ease-in, float 4s ease-in-out infinite;

    }
    #images{
        position: relative;
        top: -231px;
        left: -99px;
    }
    #p1>img, #p2>img, #p3>img, #p4>img, #p5>img {
        position: relative;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    #p1>img:hover, #p2>img:hover, #p3>img:hover, #p4>img:hover, #p5>img:hover {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 2;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
