body{
    background-color: black;

}

body, h1, ul, header, main, section, footer {
    margin: 0;
    padding: 0;
}
header{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 7vh;
    background-color: #0B60B0;
    border-radius: 20px;
    left: 0;
    z-index: 1000;

}

header>nav{
    font-size: 20px;
    position: absolute;
    top: 13px;
    left: 1000px;
transform: translateX(0%);

}

header > nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;

}

header > nav a:hover {
    color: #40A2D8;
}

main>div{
    top: 30px;
    left: 20px;
    position: relative;
    display: inline-block;
    font-size: 25px;
}

#letter1{
    color:#0B60B0 ;
}

#letter2{
    color: #40A2D8;
}

#letter3{
    color:#0B60B0 ;
}

#letter4{
    color: #40A2D8;
}

#letter5{
    color: #0B60B0;
}

#letter6{
    color: white;
}
main>section>img{
    top: 50px;
    position: relative;
}

main>section>img{
    filter: brightness(51%);
    position: relative;
    top: 75px;
    left: 63px;
    border-radius: 30px;
    width:281px ;
    height: 482px;
}
main>section>div>h1{
    color: #40A2D8;
    position: relative;
    top: -410px;
    bottom: 0;
    left: 745px;
    font-size: 132px;
    margin: auto;
}

#im{
    color: white;
    position: relative;
    top: -460px;
    bottom: 0;
    left: 801px;
    font-size: 99px;
}


#name{
    color: white;
    position: relative;
    top: -541px;
    bottom: 0;
    left: 674px;
    font-size: 61px;
}

section>div>h5{
    color: cornflowerblue;
    position: relative;
    top: -590px;
    bottom: 0;
    left: 742px;
    font-size: 40px;
}

#contactButton>button{
    position: relative;
    right: -1244px;
    top: -613px;
    font-size: 21px;
    color: white;
    background-color: black;
    border: 5px solid white;
}

#socialImages>img{
    position: relative;
    border-radius: 100%;
    width: 36px;
    aspect-ratio: 1/1;
    top: -697px;
    left: 108px;
}

/*
@media all and (max-width: 320px ){
    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 20px;

    }

    header > #menu {

        position: absolute;
        top: 34px;
        left: 76%;
        transform: translateX(-50%);
    }

    .menu-btn {
        display: block;
        width: 40px;
        height: 33px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        width: 25px;
        height: 2px;
        background-color: white;
        margin-bottom: 6px;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 75px;
        left: 27px;
        border-radius: 30px;
        width:116px ;
        height: 236px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -154px;
        bottom: 0;
        left: 185px;
        font-size: 38px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -181px;
        bottom: 0;
        left: 203px;
        font-size: 35px;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 23px;
        aspect-ratio: 1/1;
        top: -230px;
        left: 37px;
    }

    #name{
        color: white;
        position: relative;
        top: -200px;
        bottom: 0;
        left: 144px;
        font-size: 22px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -213px;
        bottom: 0;
        left: 151px;
        font-size: 19px;
    }


    #contactButton>button{
        position: relative;
        left: 181px;
        top: -214px;
        font-size: 11px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

}

@media all and (min-width: 321px ) and (max-width: 460px){

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 21px;


    }

    header > #menu {

        position: absolute;
        top: 34px;
        left: 76%;
        transform: translateX(-50%);
    }

    .menu-btn {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 6px;
    }


    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 27px;
        aspect-ratio: 1/1;
        top: -391px;
        left: 59px;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 75px;
        left: 27px;
        border-radius: 30px;
        width:196px ;
        height: 367px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -288px;
        bottom: 0;
        left: 253px;
        font-size: 67px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -337px;
        bottom: 0;
        left: 279px;
        font-size: 60px;
    }

    #name{
        color: white;
        position: relative;
        top: -383px;
        bottom: 0;
        left: 226px;
        font-size: 29px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -399px;
        bottom: 0;
        left: 236px;
        font-size: 25px;
    }

    #contactButton>button{
        position: relative;
        left: 270px;
        top: -389px;
        font-size: 16px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

}*/

@media all and (max-width: 320px ){
    header > #menu {

        position: absolute;
        top: 34px;
        left: 76%;
        transform: translateX(-50%);
    }

    .menu-btn {
        display: block;
        width: 40px;
        height: 33px;
        position: absolute;
        top: 50%;
        left: 26px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin-bottom: 6px;
    }

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 19px;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 57px;
        left: 65px;
        border-radius: 30px;
        width:184px ;
        height: 313px;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: -424px;
        left: 99px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: 104px;
        bottom: 0;
        left: 79px;
        font-size: 66px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: 45px;
        bottom: 0;
        left: 120px;
        font-size: 51px;
    }

    #name{
        color: white;
        position: relative;
        top: 2px;
        bottom: 0;
        left: 32px;
        font-size: 35px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -43px;
        bottom: 0;
        left: 28px;
        font-size: 33px;
    }

    #contactButton>button{
        position: relative;
        left: 97px;
        top: -58px;
        font-size: 16px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }
}
@media all and (min-width: 321px ) and (max-width: 376px){

    header > #menu {

        position: absolute;
        top: 34px;
        left: 76%;
        transform: translateX(-50%);
    }

    .menu-btn {
        display: block;
        width: 40px;
        height: 33px;
        position: absolute;
        top: 50%;
        left: 36px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin-bottom: 6px;
    }

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 19px;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 57px;
        left: 95px;
        border-radius: 30px;
        width:184px ;
        height: 313px;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: -424px;
        left: 120px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: 104px;
        bottom: 0;
        left: 105px;
        font-size: 66px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: 45px;
        bottom: 0;
        left: 146px;
        font-size: 51px;
    }

    #name{
        color: white;
        position: relative;
        top: 2px;
        bottom: 0;
        left: 57px;
        font-size: 35px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -43px;
        bottom: 0;
        left: 51px;
        font-size: 33px;
    }

    #contactButton>button{
        position: relative;
        left: 123px;
        top: -58px;
        font-size: 16px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }
}
@media all and (min-width: 377px ) and (max-width: 425px){

    header > #menu {

        position: absolute;
        top: 34px;
        left: 76%;
        transform: translateX(-50%);
    }

    .menu-btn {
        display: block;
        width: 40px;
        height: 33px;
        position: absolute;
        top: 50%;
        left: 36px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin-bottom: 6px;
    }
    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 57px;
        left: 114px;
        border-radius: 30px;
        width:184px ;
        height: 313px;
    }



    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 19px;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 25px;
        aspect-ratio: 1/1;
        top: -423px;
        left: 144px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: 133px;
        bottom: 0;
        left: 124px;
        font-size: 66px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: 80px;
        bottom: 0;
        left: 160px;
        font-size: 51px;
    }

    #name{
        color: white;
        position: relative;
        top: 24px;
        bottom: 0;
        left: 71px;
        font-size: 35px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -29px;
        bottom: 0;
        left: 75px;
        font-size: 33px;
    }

    #contactButton>button{
        position: relative;
        left: 142px;
        top: -58px;
        font-size: 16px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }
}
@media all and (min-width: 461px ) and (max-width: 768px){

    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 0;
        transform: translateX(56%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 447px;
        font-size: 81px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -463px;
        bottom: 0;
        left: 498px;
        font-size: 72px;
    }

    #name{
        color: white;
        position: relative;
        top: -508px;
        bottom: 0;
        left: 382px;
        font-size: 46px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -553px;
        bottom: 0;
        left: 410px;
        font-size: 38px;
    }

    #contactButton>button{
        position: relative;
        left: 503px;
        top: -568px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -597px;
        left: 108px;
    }



}
@media all and (min-width: 835px ) and (max-width: 1024px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 532px;
        transform: translateX(-6%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 575px;
        font-size: 108px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -482px;
        bottom: 0;
        left: 638px;
        font-size: 88px;
    }

    #name{
        color: white;
        position: relative;
        top: -569px;
        bottom: 0;
        left: 509px;
        font-size: 57px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -618px;
        bottom: 0;
        left: 579px;
        font-size: 38px;
    }

    #contactButton>button{
        position: relative;
        left: 647px;
        top: -639px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }


}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 525px;
        transform: translateX(-1%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 532px;
        font-size: 114px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -482px;
        bottom: 0;
        left: 600px;
        font-size: 94px;
    }


    #name{
        color: white;
        position: relative;
        top: -569px;
        bottom: 0;
        left: 465px;
        font-size: 61px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -618px;
        bottom: 0;
        left: 533px;
        font-size: 40px;
    }


    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -739px;
        left: 108px;
    }

    #contactButton>button{
        position: relative;
        left: 628px;
        top: -652px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

}
@media all and  (min-width:1440px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 941px;
        transform: translateX(-1%);


    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 25px;


    }

    #letter1{
        color:#0B60B0 ;
    }

    #letter2{
        color: #40A2D8;
    }

    #letter3{
        color:#0B60B0 ;
    }

    #letter4{
        color: #40A2D8;
    }

    #letter5{
        color: #0B60B0;
    }

    #letter6{
        color: white;
    }
    main>section>img{
        top: 50px;
        position: relative;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 75px;
        left: 63px;
        border-radius: 30px;
        width:281px ;
        height: 482px;
    }
    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 745px;
        font-size: 132px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -460px;
        bottom: 0;
        left: 801px;
        font-size: 99px;
    }


    #name{
        color: white;
        position: relative;
        top: -541px;
        bottom: 0;
        left: 674px;
        font-size: 61px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -590px;
        bottom: 0;
        left: 742px;
        font-size: 40px;
    }

    #contactButton>button{
        position: relative;
        right: -1244px;
        top: -613px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -697px;
        left: 108px;
    }
}
