body{
    background-color: black;
}
header{
    top: 0;
    position: fixed;
    width: 99vw;
    height: 7vh;
    background-color: #0B60B0;
    border-radius: 20px;
    left: 0;
    z-index: 1000;

}

header>nav{
    font-size: 20px;
    position: absolute;
    top: 13px;
    left: 1000px;
transform: translateX(0%);

}

header > nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;

}

header > nav a:hover {
    color: #40A2D8;
}

main>div{
    top: 30px;
    left: 20px;
    position: relative;
    display: inline-block;
    font-size: 25px;


}

#letter1{
    color:#0B60B0 ;
}

#letter2{
    color: #40A2D8;
}

#letter3{
    color:#0B60B0 ;
}

#letter4{
    color: #40A2D8;
}

#letter5{
    color: #0B60B0;
}

#letter6{
    color: white;
}
main>section>img{
    top: 50px;
    position: relative;
}

main>section>img{
    filter: brightness(51%);
    position: relative;
    top: 75px;
    left: 63px;
    border-radius: 30px;
    width:281px ;
    height: 482px;
}
main>section>div>h1{
    color: #40A2D8;
    position: relative;
    top: -410px;
    bottom: 0;
    left: 745px;
    font-size: 132px;
    margin: auto;
}

#im{
    color: white;
    position: relative;
    top: -460px;
    bottom: 0;
    left: 801px;
    font-size: 99px;
}


#name{
    color: white;
    position: relative;
    top: -541px;
    bottom: 0;
    left: 674px;
    font-size: 61px;
}

section>div>h5{
    color: cornflowerblue;
    position: relative;
    top: -590px;
    bottom: 0;
    left: 742px;
    font-size: 40px;
}

#contactButton>button{
    position: relative;
    right: -1244px;
    top: -613px;
    font-size: 21px;
    color: white;
    background-color: black;
    border: 5px solid white;
}

#socialImages>img{
    position: relative;
    border-radius: 100%;
    width: 36px;
    aspect-ratio: 1/1;
    top: -697px;
    left: 108px;
}

/*@media all and (max-width: 425px) {

    header{
        top: 0;
        position: fixed;
        width: 98vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 6px;

    }

    main>div{
        top: 17px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 15px;

    }
    !* main>section>img{
         position: relative;
         top: 39px;
         left: 14px;
         border-radius: 30px;
         width:176px ;
         height: 348px;
     }
*!
    main>section>img{
        position: relative;
        top: 32px;
        left: 7px;
        border-radius: 30px;
        width:191px ;
        height: 331px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -313px;
        bottom: 0;
        left: 243px;
        font-size: 53px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -308px;
        bottom: 0;
        left: 260px;
        font-size: 49px;
    }

    #name{
        color: white;
        position: relative;
        top: -349px;
        bottom: 0;
        left: 208px;
        font-size: 25px;
    }

    section>div>h5{
        color: white;
        position: relative;
        top: -376px;
        bottom: 0;
        left: 203px;
        font-size: 25px;
    }

    #contactButton>button{
        position: relative;
        right: -255px;
        top: -371px;
        font-size: 12px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 22px;
        aspect-ratio: 1/1;
        top: -363px;
        left: 49px;
    }
}

@media all and (max-width: 768px) {
    header {
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }

    header > nav {
        !* font-size: 20px;
         position: absolute;
         top: 13px;
         left: 473px;*!
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 1000px;


    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    main > div {
        top: 25px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 23px;

    }

    main > section > img {
        position: relative;
        top: 50px;
        left: 26px;
        border-radius: 30px;
        width: 286px;
        height: 489px;
    }

    main > section > div > h1 {
        color: #40A2D8;
        position: relative;
        top: -436px;
        bottom: 0;
        left: 436px;
        font-size: 99px;
        margin: auto;
    }

    #im {
        color: white;
        position: relative;
        top: -495px;
        bottom: 0;
        left: 500px;
        font-size: 70px;
    }

    #name {
        color: white;
        position: relative;
        top: -572px;
        bottom: 0;
        left: 341px;
        font-size: 50px;
    }

    section > div > h5 {
        color: white;
        position: relative;
        top: -608px;
        bottom: 0;
        left: 374px;
        font-size: 40px;
    }

    #socialImages > img {
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -561px;
        left: 76px;
    }

    #contactButton>button {
        position: relative;
        right: -528px;
        top: -559px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }
}

@media all and (max-width: 1024px){

    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 473px;



    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 25px;

    }

    main>section>img{
        position: relative;
        top: 50px;
        left: 63px;
        border-radius: 30px;
        width:286px ;
        height: 489px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -501px;
        bottom: 0;
        left: 532px;
        font-size: 99px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -549px;
        bottom: 0;
        left: 602px;
        font-size: 70px;
    }

    #name{
        color: white;
        position: relative;
        top: -582px;
        bottom: 0;
        left: 506px;
        font-size: 50px;
    }

    section>div>h5{
        color: white;
        position: relative;
        top: -608px;
        bottom: 0;
        left: 528px;
        font-size: 40px;
    }

    #contactButton>button{
        position: relative;
        right: -729px;
        top: -559px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -561px;
        left: 108px;
    }
}*/
@media all and (min-width: 321px ) and (max-width: 460px){
    header > #menu {

        position: absolute;
        top: 34px;
        left: 76%;
        transform: translateX(-50%);
    }

    .menu-btn {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 6px;
    }


    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 27px;
        aspect-ratio: 1/1;
        top: -391px;
        left: 59px;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 75px;
        left: 27px;
        border-radius: 30px;
        width:196px ;
        height: 367px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -288px;
        bottom: 0;
        left: 253px;
        font-size: 67px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -355px;
        bottom: 0;
        left: 279px;
        font-size: 60px;
    }

    #name{
        color: white;
        position: relative;
        top: -413px;
        bottom: 0;
        left: 234px;
        font-size: 29px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -434px;
        bottom: 0;
        left: 245px;
        font-size: 25px;
    }

    #contactButton>button{
        position: relative;
        left: 270px;
        top: -423px;
        font-size: 16px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

}
@media all and (min-width: 461px ) and (max-width: 768px){

    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 0;
        transform: translateX(56%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 447px;
        font-size: 81px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -463px;
        bottom: 0;
        left: 498px;
        font-size: 72px;
    }

    #name{
        color: white;
        position: relative;
        top: -508px;
        bottom: 0;
        left: 382px;
        font-size: 46px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -553px;
        bottom: 0;
        left: 410px;
        font-size: 38px;
    }

    #contactButton>button{
        position: relative;
        left: 503px;
        top: -568px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -597px;
        left: 108px;
    }
    /*
        header > nav {
            font-size: 20px;
            position: absolute;
            top: 13px;
            left: 50%;
            transform: translateX(-50%);
        }

        .menu-btn {
            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .menu-btn span {
            display: block;
            width: 30px;
            height: 4px;
            background-color: white;
            margin-bottom: 6px;
        }*/
}
@media all and (min-width: 835px ) and (max-width: 1024px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 532px;
        transform: translateX(-6%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 575px;
        font-size: 108px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -482px;
        bottom: 0;
        left: 638px;
        font-size: 88px;
    }

    #name{
        color: white;
        position: relative;
        top: -569px;
        bottom: 0;
        left: 509px;
        font-size: 57px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -618px;
        bottom: 0;
        left: 579px;
        font-size: 38px;
    }

    #contactButton>button{
        position: relative;
        left: 647px;
        top: -639px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }


}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 941px;
        transform: translateX(-1%);

    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 575px;
        font-size: 121px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -482px;
        bottom: 0;
        left: 652px;
        font-size: 94px;
    }


    #name{
        color: white;
        position: relative;
        top: -569px;
        bottom: 0;
        left: 509px;
        font-size: 61px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -618px;
        bottom: 0;
        left: 595px;
        font-size: 40px;
    }


    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -739px;
        left: 108px;
    }

    #contactButton>button{
        position: relative;
        left: 980px;
        top: -652px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

}
@media all and  (min-width:1440px){
    body{
        background-color: black;
    }
    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;
        z-index: 1000;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 941px;
        transform: translateX(-1%);


    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    header > nav a:hover {
        color: #40A2D8;
    }

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 25px;


    }

    #letter1{
        color:#0B60B0 ;
    }

    #letter2{
        color: #40A2D8;
    }

    #letter3{
        color:#0B60B0 ;
    }

    #letter4{
        color: #40A2D8;
    }

    #letter5{
        color: #0B60B0;
    }

    #letter6{
        color: white;
    }
    main>section>img{
        top: 50px;
        position: relative;
    }

    main>section>img{
        filter: brightness(51%);
        position: relative;
        top: 75px;
        left: 63px;
        border-radius: 30px;
        width:281px ;
        height: 482px;
    }
    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -410px;
        bottom: 0;
        left: 745px;
        font-size: 132px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -460px;
        bottom: 0;
        left: 801px;
        font-size: 99px;
    }


    #name{
        color: white;
        position: relative;
        top: -541px;
        bottom: 0;
        left: 674px;
        font-size: 61px;
    }

    section>div>h5{
        color: cornflowerblue;
        position: relative;
        top: -590px;
        bottom: 0;
        left: 742px;
        font-size: 40px;
    }

    #contactButton>button{
        position: relative;
        right: -1244px;
        top: -613px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -697px;
        left: 108px;
    }
}
