body{
    background-color: black;
}
header{
    top: 0;
    position: fixed;
    width: 99vw;
    height: 7vh;
    background-color: #0B60B0;
    border-radius: 20px;
    left: 0;
    z-index: 1000;

}

header>nav{
    font-size: 20px;
    position: absolute;
    top: 13px;
    left: 1000px;


}

header > nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;

}

header > nav a:hover {
    color: #40A2D8;
}

main>div{
    top: 30px;
    left: 20px;
    position: relative;
    display: inline-block;
    font-size: 25px;


}

#letter1{
    color:#0B60B0 ;
}

#letter2{
    color: #40A2D8;
}

#letter3{
    color:#0B60B0 ;
}

#letter4{
    color: #40A2D8;
}

#letter5{
    color: #0B60B0;
}

#letter6{
    color: white;
}
main>section>img{
    top: 50px;
    position: relative;
}

main>section>img{
    position: relative;
    top: 75px;
    left: 63px;
    border-radius: 30px;
    width:281px ;
    height: 482px;
}
main>section>div>h1{
    color: #40A2D8;
    position: relative;
    top: -410px;
    bottom: 0;
    left: 650px;
    font-size: 99px;
    margin: auto;
}

#im{
    color: white;
    position: relative;
    top: -460px;
    bottom: 0;
    left: 686px;
    font-size: 70px;
}


#name{
    color: white;
    position: relative;
    top: -525px;
    bottom: 0;
    left: 576px;
    font-size: 50px;
}

section>div>h5{
    color: white;
    position: relative;
    top: -590px;
    bottom: 0;
    left: 617px;
    font-size: 40px;
}

#contactButton>button{
    position: relative;
    right: -1244px;
    top: -476px;
    font-size: 21px;
    color: white;
    background-color: black;
    border: 5px solid white;
}

#socialImages>img{
    position: relative;
    border-radius: 100%;
    width: 36px;
    aspect-ratio: 1/1;
    top: -539px;
    left: 108px;
}

@media all and (max-width: 425px) {

    header{
        top: 0;
        position: fixed;
        width: 98vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 6px;

    }

    main>div{
        top: 17px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 15px;

    }
    /* main>section>img{
         position: relative;
         top: 39px;
         left: 14px;
         border-radius: 30px;
         width:176px ;
         height: 348px;
     }
*/
    main>section>img{
        position: relative;
        top: 32px;
        left: 7px;
        border-radius: 30px;
        width:191px ;
        height: 331px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -313px;
        bottom: 0;
        left: 243px;
        font-size: 53px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -308px;
        bottom: 0;
        left: 260px;
        font-size: 49px;
    }

    #name{
        color: white;
        position: relative;
        top: -349px;
        bottom: 0;
        left: 208px;
        font-size: 25px;
    }

    section>div>h5{
        color: white;
        position: relative;
        top: -376px;
        bottom: 0;
        left: 203px;
        font-size: 25px;
    }

    #contactButton>button{
        position: relative;
        right: -255px;
        top: -371px;
        font-size: 12px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 22px;
        aspect-ratio: 1/1;
        top: -363px;
        left: 49px;
    }
}

@media all and (max-width: 768px) {
    header {
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }

    header > nav {
        /* font-size: 20px;
         position: absolute;
         top: 13px;
         left: 473px;*/
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 1000px;


    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    main > div {
        top: 25px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 23px;

    }

    main > section > img {
        position: relative;
        top: 50px;
        left: 26px;
        border-radius: 30px;
        width: 286px;
        height: 489px;
    }

    main > section > div > h1 {
        color: #40A2D8;
        position: relative;
        top: -436px;
        bottom: 0;
        left: 436px;
        font-size: 99px;
        margin: auto;
    }

    #im {
        color: white;
        position: relative;
        top: -495px;
        bottom: 0;
        left: 500px;
        font-size: 70px;
    }

    #name {
        color: white;
        position: relative;
        top: -572px;
        bottom: 0;
        left: 341px;
        font-size: 50px;
    }

    section > div > h5 {
        color: white;
        position: relative;
        top: -608px;
        bottom: 0;
        left: 374px;
        font-size: 40px;
    }

    #socialImages > img {
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -561px;
        left: 76px;
    }

    #contactButton>button {
        position: relative;
        right: -528px;
        top: -559px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }
}

@media all and (max-width: 1024px){

    header{
        top: 0;
        position: fixed;
        width: 99vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }

    header>nav{
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 473px;



    }

    header > nav a {
        color: white;
        text-decoration: none;
        margin-right: 10px;

    }

    main>div{
        top: 30px;
        left: 20px;
        position: relative;
        display: inline-block;
        font-size: 25px;

    }

    main>section>img{
        position: relative;
        top: 50px;
        left: 63px;
        border-radius: 30px;
        width:286px ;
        height: 489px;
    }

    main>section>div>h1{
        color: #40A2D8;
        position: relative;
        top: -501px;
        bottom: 0;
        left: 532px;
        font-size: 99px;
        margin: auto;
    }

    #im{
        color: white;
        position: relative;
        top: -549px;
        bottom: 0;
        left: 602px;
        font-size: 70px;
    }

    #name{
        color: white;
        position: relative;
        top: -582px;
        bottom: 0;
        left: 506px;
        font-size: 50px;
    }

    section>div>h5{
        color: white;
        position: relative;
        top: -608px;
        bottom: 0;
        left: 528px;
        font-size: 40px;
    }

    #contactButton>button{
        position: relative;
        right: -729px;
        top: -559px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -561px;
        left: 108px;
    }
}

@media all and (max-width: 1440px) {
    header {
        top: 0;
        position: fixed;
        width: 100vw;
        height: 7vh;
        background-color: #0B60B0;
        border-radius: 20px;
        left: 0;

    }

    header>nav{
        /* font-size: 20px;
         position: absolute;
         top: 13px;
         left: 905px;*/
        font-size: 20px;
        position: absolute;
        top: 13px;
        left: 1000px;


    }

    main>section>img{
        position: relative;
        top: 46px;
        left: 63px;
        border-radius: 30px;
        width:286px ;
        height: 489px;
    }

    #socialImages>img{
        position: relative;
        border-radius: 100%;
        width: 36px;
        aspect-ratio: 1/1;
        top: -539px;
        left: 108px;
    }

    #contactButton>button{
        position: relative;
        right: -729px;
        top: -538px;
        font-size: 21px;
        color: white;
        background-color: black;
        border: 5px solid white;
    }
}