.proAss>div>h3{
    color: #0B60B0;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -320px;
}

.proAss>#pro>img{
    filter: brightness(51%);
    position: relative;
    top: 50px;
    width: 200px;
    height: 200px;
    left: 517px;
    margin: 10px;
    border: 7px solid white;
}

.arrowKeys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 527px;
}

.arrow {
    position: relative;
    top: -94px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

.left {
    border-width: 20px 20px 20px 0;
    border-color: transparent #007bff transparent transparent;
}

.right {
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #007bff;
}

.yummy-description {
    position: absolute;
    bottom: -3122px;
    left: 566px ;
    width: 12%;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 13px 0;
    font-size: 15px;
    transform: translate(-3%, -126%);
}

.chat-description {
    position: absolute;
    bottom: -3122px;
    left: 795px ;
    width: 12%;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 13px 0;
    font-size: 15px;
    transform: translate(-5%, -199%);
}

.githubSearch-yf{
    position: relative;
    left: 24px;
    top: 389px;
    border-radius: 100%;
    width: 34px;
    aspect-ratio: 1/1;
    margin: 0 95px;
}
.githubSearch-ca{
    position: relative;
    left: 24px;
    top: 389px;
    border-radius: 100%;
    width: 34px;
    aspect-ratio: 1/1;
    margin: 0 95px;
}
.githubSearch-li{
    position: relative;
    left: 24px;
    top: 389px;
    border-radius: 100%;
    width: 34px;
    aspect-ratio: 1/1;
    margin: 0 95px;
}

.githubSearch-po{
    position: relative;
    left: 24px;
    top: 389px;
    border-radius: 100%;
    width: 34px;
    aspect-ratio: 1/1;
    margin: 0 95px;
}
.assignments{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}


.assignments>div{
    border-radius: 10%;
    filter: brightness(68%);
    position: relative;
    top: 100px;
    width: 200px;
    height: 200px;

    margin: 15px auto;

    background-image: url("assets/images/assignments.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.assignmentNumber>label{
    color:#0B60B0;
    font-size: 28px;
    position: absolute;
    top: 76px;
    left: 20px;

}



.assignmentNumber>a>img {
    width: 50px;
    height: auto;
    display: block;
    margin: 10px auto;
    animation: jump 0.3s infinite alternate;
}


img.assGit {
    filter: brightness(300%);
    border-radius: 50%;
}

#projectRec {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
   margin: 21px auto;
    position: relative;
    top: -241px;
    left: 113px;
    overflow-x: auto;
    overflow-y: auto;

}

#projectRec > div {
    filter: brightness(96%);
    width: 283px;
    height: 441px;
    border-radius: 35px;
    border: 2px solid white;
    background-color: #007bff;
    margin-right: 40px;
    margin-bottom: 113px;
}

.second-row {
    grid-column: span 2;
}

#projectRec>.about-project>#yummyFood-ss{
    width: 117px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 40px;
    left: 76px;
}

#projectRec>.about-project>#chat-ss{
    width: 117px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 40px;
    left: 76px;
}

#projectRec>.about-project>#chat-label{

   /* font-family: Ravie;*/
    position: absolute;
    top: 186px;
    left: 16px;
    font-size: 29px;
}

#projectRec>.about-project>#chat-p{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 257px;
    left: 32px;

}
#projectRec>.about-project>#yummyFood-label{

   /* font-family: Ravie;*/
    position: absolute;
    top: 186px;
    left: 16px;
    font-size: 29px;
}

#projectRec>.about-project>#yummyFood-p{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 227px;
    left: 32px;

}

#projectRec>.about-project>#library-ss{
    width: 117px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 40px;
    left: 76px;
}

#projectRec>.about-project>#lidrary-label{

   /* font-family: Ravie;*/
    position: absolute;
    top: 186px;
    left: 16px;
    font-size: 29px;
}

#projectRec>.about-project>#library-p{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 294px;
    left: 32px;

}

#projectRec>.second-row>#pos-ss{
    width: 117px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 40px;
    left: 76px;
}

#projectRec>.second-row>#pos-label{

   /* font-family: Ravie;*/
    position: absolute;
    top: 186px;
    left: 16px;
    font-size: 29px;
}

#projectRec>.second-row>#pos-p{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 255px;
    left: 72px;

}

@media all and (max-width: 320px ){
    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 146px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-ca{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: 163px;
        width: 200px;
        height: 200px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 21px auto;
        position: relative;
        top: 177px;
        left: 20px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 274px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 1;
    }

    .assignmentNumber>a>img {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
        animation: jump 0.3s infinite alternate;
    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }



    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 36px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 49px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 17px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 15px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 68px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 70px;

    }

    .assignmentNumber>a>i {
        font-size: 30px;
        position: absolute;
        top: 170px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }

    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    #projectRec>div{
        animation: borderShine 3s infinite;
    }
}

@media all and (min-width: 321px ) and (max-width: 376px){
    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 146px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-ca{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: 163px;
        width: 200px;
        height: 200px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 21px auto;
        position: relative;
        top: 177px;
        left: 41px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 283px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 1;
    }

    .assignmentNumber>a>img {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
        animation: jump 0.3s infinite alternate;
    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }



    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 40px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{
        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 55px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 17px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 15px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 65px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 70px;

    }

    .assignmentNumber>a>i {
        font-size: 30px;
        position: absolute;
        top: 170px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }

    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }
}
@media all and (min-width: 377px ) and (max-width: 425px){


    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: 146px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-ca{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: 184px;
        width: 183px;
        height: 192px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 21px auto;
        position: relative;
        top: 177px;
        left: 69px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 283px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 1;
    }

    .assignmentNumber>a>img {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
        animation: jump 0.3s infinite alternate;
    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }



    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 40px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 56px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 17px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 15px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 72px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 70px;

    }

    .assignmentNumber>a>i {
        font-size: 30px;
        position: absolute;
        top: 162px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }

    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

}
@media all and (min-width: 461px ) and (max-width: 768px){

    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -294px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-ca{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: -250px;
        width: 200px;
        height: 200px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 21px auto;
        position: relative;
        top: -241px;
        left: 56px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 283px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 1;
    }

    .assignmentNumber>a>img {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
        animation: jump 0.3s infinite alternate;
    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }



    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 39px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 45px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 17px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 15px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 64px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 70px;

    }

    .assignmentNumber>a>i {
        font-size: 30px;
        position: absolute;
        top: 168px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }



    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }
}
@media all and (min-width: 835px ) and (max-width: 1024px){

    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -320px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -10px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-ca{
        position: relative;
        left: -10px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -10px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -10px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: -250px;
        width: 200px;
        height: 200px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }



    .assignmentNumber>a>img {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 21px auto;
        position: relative;
        top: -241px;
        left: 41px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 264px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 2;
    }

    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 26px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 44px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 17px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 15px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 62px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 55px;

    }

    .assignmentNumber>a>i {
        font-size: 30px;
        position: absolute;
        top: 168px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }

    .assignmentNumber>a>img{
        animation: jump 0.3s infinite alternate;
    }

    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }
}
@media all and (min-width: 1025px ) and (max-width: 1440px){
    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -320px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-ca{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -4px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: -250px;
        width: 200px;
        height: 200px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }



    .assignmentNumber>a>img {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 21px auto;
        position: relative;
        top: -241px;
        left: 30px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 283px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 2;
    }

    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{
        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 32px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 32px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 72px;

    }

    .assignmentNumber>a>i {
        font-size: 30px;
        position: absolute;
        top: 168px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }

    .assignmentNumber>a>img{
        animation: jump 0.3s infinite alternate;
    }

    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }
}
@media all and  (min-width:1440px){

    .proAss>div>h3{
        color: #0B60B0;
        text-align: center;
        font-size: 40px;
        position: relative;
        top: -268px;
    }

    .proAss>#pro>img{
        filter: brightness(51%);
        position: relative;
        top: 50px;
        width: 200px;
        height: 200px;
        left: 517px;
        margin: 10px;
        border: 7px solid white;
    }

    .arrowKeys {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 527px;
    }

    .arrow {
        position: relative;
        top: -94px;
        left: 5px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .left {
        border-width: 20px 20px 20px 0;
        border-color: transparent #007bff transparent transparent;
    }

    .right {
        border-width: 20px 0 20px 20px;
        border-color: transparent transparent transparent #007bff;
    }

    .yummy-description {
        position: absolute;
        bottom: -3122px;
        left: 566px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-3%, -126%);
    }

    .chat-description {
        position: absolute;
        bottom: -3122px;
        left: 795px ;
        width: 12%;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 13px 0;
        font-size: 15px;
        transform: translate(-5%, -199%);
    }

    .githubSearch-yf{
        position: relative;
        left: -5px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .about-project>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }

    .second-row>i{
        font-size: 30px;
        position: absolute;
        top: 388px;
        left: 156px;
    }
    .githubSearch-ca{
        position: relative;
        left: -5px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .githubSearch-li{
        position: relative;
        left: -5px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }

    .githubSearch-po{
        position: relative;
        left: -5px;
        top: 389px;
        border-radius: 100%;
        width: 34px;
        aspect-ratio: 1/1;
        margin: 0 95px;
        animation: jump 0.3s infinite alternate;
    }
    .assignments{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }


    .assignments>div{
        border-radius: 10%;
        filter: brightness(68%);
        position: relative;
        top: -180px;
        width: 200px;
        height: 200px;

        margin: 15px auto;

        background-image: url("assets/images/assignments.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .assignmentNumber>label{
        color:#0B60B0;
        font-size: 28px;
        position: absolute;
        top: 76px;
        left: 20px;

    }



    .assignmentNumber>a>img  {
        width: 50px;
        height: auto;
        display: block;
        margin: 10px auto;
        animation: jump 0.3s infinite alternate;
        color: black;
    }

    .assignmentNumber>a>i {
      font-size: 30px;
      position: absolute;
        top: 168px;
        left: 76px;
        bottom: 0;
        right: 0;
        animation: jump 0.3s infinite alternate;

    }


    img.assGit {
        filter: brightness(300%);
        border-radius: 50%;
    }

    #projectRec {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 21px auto;
        position: relative;
        top: -241px;
        left: 113px;
        overflow-x: auto;
        overflow-y: auto;

    }

    #projectRec > div {
        filter: brightness(96%);
        width: 283px;
        height: 441px;
        border-radius: 35px;
        border: 2px solid white;
        background-color: #007bff;
        margin-right: 40px;
        margin-bottom: 113px;
        animation: borderShine 3s infinite;
    }

    .second-row {
        grid-column: span 2;
    }

    #projectRec>.about-project>#yummyFood-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#chat-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 37px;
        font-size: 29px;
    }

    #projectRec>.about-project>#chat-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 257px;
        left: 32px;

    }
    #projectRec>.about-project>#yummyFood-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 47px;
        font-size: 29px;
    }

    #projectRec>.about-project>#yummyFood-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 227px;
        left: 32px;

    }

    #projectRec>.about-project>#library-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.about-project>#lidrary-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 16px;
        font-size: 29px;
    }

    #projectRec>.about-project>#library-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 294px;
        left: 32px;

    }

    #projectRec>.second-row>#pos-ss{
        width: 117px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 40px;
        left: 76px;
    }

    #projectRec>.second-row>#pos-label{

        font-family: Serif;
        position: absolute;
        top: 186px;
        left: 71px;
        font-size: 29px;
    }

    #projectRec>.second-row>#pos-p{
        font-size: 22px;
        color: white;
        position: absolute;
        top: 255px;
        left: 72px;

    }

}
@keyframes borderShine {
    0% {
        box-shadow: 0 0 10px 0px white, 0 0 20px 5px white, 0 0 30px 10px white;
    }
    50% {
        box-shadow: 0 0 10px 0px white, 0 0 40px 15px white, 0 0 60px 20px white;
    }
    100% {
        box-shadow: 0 0 10px 0px white, 0 0 20px 5px white, 0 0 30px 10px white;
    }

}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); 
    }
}